<!doctype html>
<html lang="">
  <body>
    <!-- Note: Lack of space between div and content is important -->
    <div id="nav">{{{nav}}}</div>
    {{!--<div id="content">{{{content}}}</div>--}}

    <div id="new">{{{new}}}</div>
    {{!--<script src="js/bundle.js"></script>--}}
  </body>
</html>
